<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>

		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.example.action.HelloAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>down</servlet-name>
		<servlet-class>com.example.action.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DB</servlet-name>
		<servlet-class>com.example.action.DBCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insert</servlet-name>
		<servlet-class>com.example.action.UserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.example.action.Uploadservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>open</servlet-name>
		<servlet-class>com.example.action.OpenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBFile</servlet-name>
		<servlet-class>com.example.DAO.DBFileCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mail</servlet-name>
		<servlet-class>com.example.action.MailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>webdown</servlet-name>
		<servlet-class>com.example.action.WebDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MainMenu</servlet-name>
		<servlet-class>com.example.action.MainMenu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.example.action.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainMenu</servlet-name>
		<url-pattern>/fbhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mail</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webdown</servlet-name>
		<url-pattern>/webdown</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>open</servlet-name>
		<url-pattern>/open</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBFile</servlet-name>
		<url-pattern>/DBFile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DB</servlet-name>
		<url-pattern>/DB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>down</servlet-name>
		<url-pattern>/down</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<taglib>
		<taglib-uri>/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>


</web-app>